@import '../../../variables'

.card
  width: 300px
  height: 100%
  border: 1px solid grey

  & > .card-container
    display: flex
    flex-flow: column

    & > .img-container
      & > img
        max-width: 300px
        width: 100%
        height: auto

    & > .img-info-container
      padding: 5px
      & > ul
        & > li
          padding: 7px

          text-align: left

          & > h5, a
            font-size: 14px
            color: black