@import '../../../../variables'

.disposal-label-container
  padding: 10px

  & > .label-content
    display: flex
    flex-flow: row nowrap

    //radio button

    & > .disposal-label
      font-size: 1rem
      color: $theme


//Need a hover, so it pops upwards/forwards
