@import '../../../App'

.info-container
  display: flex
  flex-flow: column nowrap

  padding: 10px

  & > ul
    & > .info-icon
      & > img
        height: 250px
        width: 250px

    & > .info-description
      & > h4
        color: white
